{% extends 'promotion_base.html' %}
{% load static %}
{% block content %}
<main>

    <h3>{{ bout.event }}: {{ bout.weight }}:
        {{ bout.fighter1 }} vs
        {{ bout.fighter2 }} <a href="{% url 'promotions:offer_fight' event.pk bout.pk %}" style="float: right;"
                               class="btn btn-primaryy" role="button">Send Offer</a>
        <a href="{% url 'promotions:remove_fighters' event.pk bout.pk %}" style="float: right;"
           class="btn btn-outline-secondary" role="button">Reset Fighters</a></h3>
    {%if bout.fighter1 != None%}
    <h3>Reccomendations:</h3>
    <div class="asset-inner">
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Nickname</th>
                <th>Weight</th>
                <th>Rank</th>
                <th>Wins</th>
                <th>Losses</th>
                <th>Draws</th>
                <th>NC</th>
            </tr>
            {% for fighter in rec %}
            <tr>
                <td class="align-middle">{{ fighter.fname }} {{fighter.lname}}</td>
                <td class="align-middle">{{ fighter.nname }}</td>
                <td class="align-middle">{{ fighter.weight }}</td>
                <td class="align-middle">{{ fighter.rank }}</td>
                <td class="align-middle">{{ fighter.wins }}</td>
                <td class="align-middle">{{ fighter.losses }}</td>
                <td class="align-middle">{{ fighter.draws }}</td>
                <td class="align-middle">{{ fighter.nc }}</td>
                <td>
                    <a href="{% url 'promotions:offer' event.pk bout.pk fighter.pk %}">
                        <button data-toggle="tooltip" title="Add" class="btn btn-primary">ADD
                        </button>
                    </a>
                </td>
                <td class="text-right">
                </td>
            </tr>
            {% empty %}
            <tr>
                <td class="bg-light text-center font-italic" colspan="5">No fighters in the weightclass.</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {%endif%}
<form method='GET' action=''>
  <input type='text' name='q' placeholder='Search'>
</form>
    <h3>Available Fighters:</h3>
    <div class="asset-inner">
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Nickname</th>
                <th>Weight</th>
                <th>Rank</th>
                <th>Wins</th>
                <th>Losses</th>
                <th>Draws</th>
                <th>NC</th>
            </tr>
            {% for fighter in fighters %}
            <tr>
                <td class="align-middle">{{ fighter.fname }} {{fighter.lname}}</a></td>
                <td class="align-middle">{{ fighter.nname }}</td>
                <td class="align-middle">{{ fighter.weight }}</td>
                <td class="align-middle">{{ fighter.rank }}</td>
                <td class="align-middle">{{ fighter.wins }}</td>
                <td class="align-middle">{{ fighter.losses }}</td>
                <td class="align-middle">{{ fighter.draws }}</td>
                <td class="align-middle">{{ fighter.nc }}</td>
                <td>
                    <a href="{% url 'promotions:offer' event.pk bout.pk fighter.pk %}">
                        <button data-toggle="tooltip" title="Add" class="btn btn-primary">ADD
                        </button>
                    </a>
                </td>
                <td class="text-right">
                </td>
            </tr>
            {% empty %}
            <tr>
                <td class="bg-light text-center font-italic" colspan="5">No fighters in the weightclass.</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="custom-pagination">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>


</main>
{% endblock %}