{% extends 'promotion_base.html' %}
{% load static %}
{% block content %}
<main>
    <h2>{{ event.name }}</h2>
    <a href="{% url 'promotions:finish_event' event.id %}" class="btn btn-primary mb-3" role="button">Finish</a>

    <table class="table mb-0">
        <thead>
        <tr>
            <th>Red Corner</th>
            <th>Accepted</th>
            <th>Blue Corner</th>
            <th>Accepted</th>
            <th>Weight</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for bout in bouts.all %}
        <tr>
            <td class="align-middle">{{ bout.fighter1 }}</td>
            <td class="align-middle">{{ bout.accepted1 }}</td>
            <td class="align-middle">{{ bout.fighter2 }}</td>
            <td class="align-middle">{{ bout.accepted2 }}</td>
            <td class="align-middle">{{ bout.weight }}</td>
            {%if bout.fighter1 == None or bout.fighter2 == None %}
            <td class="align-middle"><a href="{% url 'promotions:bout' event.pk bout.pk %}" class="btn btn-primary mb-3"
                                        role="button">Make</a></td>
            {% endif %}
        </tr>
        {% empty %}
        <tr>
            <td class="bg-light text-center font-italic" colspan="5">No bouts in this event.</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'promotions:bout_add' event.pk %}" class="btn btn-primary mb-3" role="button">Add Bout</a>
</main>
{% endblock %}