{% extends 'base.html' %}
{% block content %}
{% load static %}

<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>MMA-Helper</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<main>

    <h4>{{user}} Fighters <a href="{% url 'gyms:fighter_add' %}" style="float: right;" class="btn btn-primary" role="button">Add Fighter</a></h4>
    <form method='GET' action='/gyms/fighters/'>
        <input type='text' name='q' placeholder='Search'>
    </form>
    <div class="asset-inner">
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Nickname</th>
                <th>Weight</th>
                <th>Rank</th>
                <th>Wins</th>
                <th>Losses</th>
                <th>Draws</th>
                <th>NC</th>
            </tr>
            {% for fighter in fighters.all %}
            <tr>
                <td class="align-middle"><a href="{% url 'gyms:fighter' fighter.pk %}">{{ fighter.fname }}
                    {{fighter.lname}}</a></td>
                <td class="align-middle">{{ fighter.nname }}</td>
                <td class="align-middle">{{ fighter.weight }}</td>
                <td class="align-middle">{{ fighter.rank }}</td>
                <td class="align-middle">{{ fighter.wins }}</td>
                <td class="align-middle">{{ fighter.losses }}</td>
                <td class="align-middle">{{ fighter.draws }}</td>
                <td class="align-middle">{{ fighter.nc }}</td>

                <td class="text-right">
                </td>
            </tr>
            {% empty %}
            <tr>
                <td class="bg-light text-center font-italic" colspan="5">No fighters in the gym.</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</main>

</html>
{% endblock %}